<div id="container">

		<h1>Five New Data Insights You Have to See to Believe</h1>
		
		<p>You won&rsquo;t believe your eyes when you realize what these charts are telling you. The numbers don&rsquo;t lie, and sometimes facing the facts can cause a shock. No one could have predicted this, and no one knew it was true until we published these innovative visualizations, thereby proving definitively that a picture is worth a thousand words.  (Edit the source to add more cliches here.)</p>

		<div class="chartContainer" id="salesChartContainer">
			<h2>Total sales by employee in July 2015</h2>
		</div>

		<div class="chartContainer" id="bonusChartContainer">
			<h2>Total bonuses by employee in July 2015</h2>
		</div>

		<div id="buttonContainer">
			<button id="sort">Sort by Value</button>
		</div>
		
		<div id="footer">
			<p><strong>Note:</strong> The contents of these charts should not be taken seriously, although the technical principles behind them should.</p>
		</div>
</div>